name: release

on:
  push:
    tags:
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [aarch64-apple-darwin, aarch64-unknown-linux-gnu, x86_64-unknown-linux-gnu]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
        override: true

    - name: Build Release
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --target ${{ matrix.target }}

    - name: Upload Release
      uses: actions/upload-artifact@v2
      with:
        name: facecrop-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/facecrop